* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px 20px 90px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 170%;
}


.line {
    margin-bottom: 80px;
}

.imgcont {
    text-align: center;
    padding: 30px 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}


#article {
    padding: 50px 40px;
}

.article {
    text-align: center;
    padding-bottom: 30px;
    font-size: 44px;
    font-weight: 700;
}

.t-img {
    font-weight: 300;
    font-family: monospace;
    font-size: 20px;
}

.h1-img {
    font-weight: 700;
    font-size: 54px;
}

#image {
    display: flex;
    justify-content: center;
    padding-bottom: 30px 0px 30px;
}


.more-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    
}


.text {
    padding: 10px 0px 50px 0px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 10px 0px 40px 0px;
    background-color: black;
    color: white;
}


.links {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px 0px;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    color: white;

}

.head {
    padding-top: 70px;
}

.lorem {
    padding: 0px 0px 60px 0px;
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (max-width: 500px){
    
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 30px;
    
}

    ul.links {
        display: flex;
        gap: 10px;
        
        font-size: 10px;
       
    }
.b-img>img{
width: 100%;
}
    .article{
font-size: 27px;
padding: 0px 0px 26px 0px;
    }
    
    .more-img {
        display: block;
       
    }


    #image {
        display: flex;
    justify-content: center;
 
    }

    
    .lorem {
    font-size: 14px;
    font-weight: 100;
    padding: 0px 10px 0px 10px;
}
    
.h1-img{
font-size: 27px;
padding: 20px 0px 20px 0px ;

}
 
.t-img{
    font-size: 17px;
}

h3{
    font-size: 14px;
}


.head{
    font-size: 16px;
    padding-bottom: 50px;
}

.right{
    font-size: 10px;
}


ul {
    list-style: none;
    display: block;
    gap: 0px;
   padding: 10px 0px 10px 0px;
    font-size: 15px;
    font-weight: 500;
 
}


h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 30px;
    padding: 40px 0px 0px 0px;
}

.b-img>img{
    width: 500px;
    padding: 0px 10px 0px 10px;

}

.text{
    font-size: 16px;
}

    }

